.aboutUs {
	@include block;
	height: 615px;
	.conteiner{
		padding: 60px 0 0 0;
		.left{
			float: left;
				.holder{
					img{
					}
				}
		}
		.right{
			width: 462px;
			float: right;
				.first{
					overflow: hidden;
					color: #999999;
					font-family: 'Open Sans',sans-serif;
					font-size: 18px;
					text-transform: uppercase;
					line-height: 40px;
				}
				h3{
					@include heading3;
					position: relative;
					padding-right: 166px;
					span{
						font-family: 'Open Sans',sans-serif;
						font-weight: 700;
						color: 000;
						text-transform: uppercase;
					}
				}
				h3::after{
					@include aft;
					bottom: -15px;
					height: 3px;
					left: 10%;
					margin-left: -50px;
				}
				p{
				  display: block;
				  overflow: visible;
				  font-family: 'Open Sans',sans-serif;
				  color: #5a5a5a;
				  margin: 40px 0 0 0;
				}
				ul{
				 display: block;
				 overflow: hidden;
				 margin: 50px 0 0 0;
					 li{
						 display: block;
						 overflow: hidden;
						 width: 480px;
						 margin: 0 0 10px 0 ;
							.fa{
								 width: 480px;
								 height: 15px;
								 margin: 0 10px 0 0;
									img{
										 display: block;
										 float: left;
									}
									h4 {
									   display: block;
									   overflow: visible;
									   float: left;
									   font-family: "Open Sans", sans-serif;
									   margin: 0 10px 0 10px;
									   color: #5a5a5a;
									}
									em {
									  display: block;
									  overflow: visible;
									  font-size: 16px;
									  font-family: "Open Sans", sans-serif;
									  color: #5a5a5a;
									  float: left;
									}
				 			}
			 		}
				}
			.more{
 			 color: #616161;
 			 font-size: 14px;
 			 font-weight: bold;
 			 background-image: url(../images/img-briefcase-forma1.png);
 			 background-repeat: no-repeat;
 			 background-position: 10% 57%;
 			 border:1px solid #616161;
 			 display: block;
 			 overflow: hidden;
 			 width: 150px;
 			 height: 25px;
 			 margin: 55px 0 0 0;
 			 padding: 20px 10px 10px 38px;
 			 text-transform: uppercase;
 			 line-height: 25px;
 		 	}
		 }
		}
	}
